.btn {
    padding: 10px 12px;
    border-radius: 25px;
    background-color: $gray-lighter;
    @extend %box-shadow;
    border: none;
    cursor: pointer;

    &:active {
        transform: scale(0.9);
    }

    &:hover {
        box-shadow: 0 0 14px 0 rgba(0, 0, 0, 0.5);
    }
}