// recommendations are a group of cards in home and bibliotheque page.
.recommendation-item {
    @include size(400px, 70px);
    @extend %box-shadow;
    margin: 10px 20px 37px 20px;
    padding: 5px 15px 9px 0px;
    border-radius: 6px;
    background-color: $gray-lighter;
    position: relative;

    &-img {
        width: 90px;
        height: 90px;
        border-radius: 45px;
        @include position(absolute, $t: -10px, $l: -20px);
    }

    &-p {
        padding: 3px 0;
    }

    svg {
        @include size(40px, 40px);
        @extend %box-shadow;
        border-radius: 50%;
        background-color: white;

        &:hover {
            box-shadow: 0 0 14px 0 rgba(0, 0, 0, 0.5);
            cursor: pointer;
        }

    }
}